<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
        }
        .user {
            text-align: center;
            font-size: 2em;
            margin-bottom: 2em;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
    <div class="user">欢迎，{{ user_name }}！</div>
    <div class="center">
        <form action="/tickets/search" method="get">
            <label for="departure">出发站:</label><br>
            <select id="departure" name="departure"></select><br>
            <label for="arrival">到达站:</label><br>
            <select id="arrival" name="arrival"></select><br>
            <input type="submit" value="查询">
        </form>
    </div>
    <script>
        $(document).ready(function(){
            $("#departure, #arrival").focus(function(){
                var select = this;
                $.getJSON("/stations", function(data){
                    var options = "";
                    for(var i=0; i<data.length; i++){
                        options += "<option value='" + data[i].name + "'>" + data[i].name + "</option>";
                    }
                    $(select).html(options);
                });
            });
        });
    </script>
</body>
</html>
