<!DOCTYPE html>
<html>
<head>
    <title>注册页面</title>
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <div class="center">
        <h2>欢迎注册</h2>
        <form action="/signup" method="post">
            <label for="name">姓名:</label><br>
            <input type="text" id="name" name="name" required><br>
            <label for="password">密码:</label><br>
            <input type="password" id="password" name="password" required><br>
            <label for="email">邮箱:</label><br>
            <input type="email" id="email" name="email" required><br>
            <label for="gender">性别:</label><br>
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">男</label><br>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">女</label><br>
            <input type="submit" value="注册">
        </form>
    </div>
</body>
</html>
